@CHARSET "UTF-8";
/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}
.plusin-info {
	text-align: center;
	padding: 1em;
}
.plusin-info h1 {
	font-size: 2em;
}

.formwarp {
	width: 600px;
	margin: 0 auto;
}

.form-line {
	width: 100%;
	height: 36px;
	line-height: 36px;
}
.form-line label, .form-line div, .form-line p {
	float: left;
	height: 32px;
	line-height: 32px;
}
.form-line label {
	width: 90px;
	text-align: right;
	padding-right: 10px;
}
.form-line label span {
	color: red;
}
.form-line input {
	height: 24px;
	border: 1px solid silver;
	outline: none;
	width: 200px;
}
.form-line input.vi-valid {
	border: 1px solid green !important;
}
.form-line input.vi-invalid {
	border: 1px solid red !important;
}
.validate-info {
	padding-left: 0.5em;
}
.validate-info.warning {
	color: red;
}
.validate-info.success {
	color: green;
}
.subbtn {
	background-color: lightblue;
}
.subbtn:active {
	position: relative;
	top: 1px;
}